<div class="top-bar get-started">
  <div>Friday Movie Night</div>
</div>

<div class="choices grid-x">
  <a href="toppings/new">
    <div class="need-movie small-6 columns">
      I've got a pizza. </br>I need a movie!
    </div>
  </a>

  <a href="movies/new">
    <div class="need-pizza small-6 columns">
      I know my movie.  <br/> I need a pizza!
    </div>
  </a>

</div>
