.topping-recommendations-container {
  background-color: $reddish;
  height: 100vh;
  font-family: $topping;

  .headline {
    text-align: center;
    background-color: $orange-red;
    padding-top: 1%;
    margin-bottom: 1%;
    border-bottom: 2px solid $pale-yellow;
  }
}

.toppings-list-container {
  text-align: center;
  background-color: $light-orange;
  color: $pale-yellow;
  margin: 0 20%;
  list-style-type: none;
  border: 3px solid $orange-red;
  box-shadow: 2px 2px 40px $pale-yellow;
  padding: 3% 0;

  img {
    height: 125px;
    width: 125px;
  }
}

.topping {
  display: inline-block;
  font-size: 25px;
  padding: 0 4%;
}

.topping-back-buttons {
  text-align: center;
  margin: 2% 0;

  button {
    margin: 0% 10%;
    background-color: $tree-black;
    border: 2px solid $orange-red;

    a {
      font-size: 25px;
      text-decoration: none;
      color: $orange-red;
    }
  }

  button:hover {
    border-color: $tree-black;
    background-color: $pale-yellow;

    a {
      color: $tree-black
    }
  }
}
