.devise-form {
  height: 96.6vh;
  background: $reddish;
  padding: 5% 25% 30% 25%;
  color: $reddish;

  hr {
    width: 40%;
    border-color: $light-orange;
  }
}

.headline {
  color: $tree-black;
}

.form-wrapper {
  background: $pale-yellow;
  text-align: center;
  padding-top: 10%;
  border: 5px solid $tree-black;
  border-radius: 7%;
  box-shadow: 5px 5px 100px $tree-black;

  input[type="submit"] {
    border-color: $light-orange;
    color: $tree-black;
  }

  input[type="submit"]:hover {
    border-color: $reddish;
    color: $reddish;
    box-shadow: 2px 2px 5px $reddish;
  }

  input[type="submit"]:focus {
    border-color: $reddish;
    color: $reddish;
    box-shadow: 2px 2px 5px $reddish;

    a {
      border-color: $reddish;
      color: $reddish;
      text-decoration: none;
    }
  }
}

.field {
  display: inline-block;

  input {
    background-color: $orange-red;
    width: inherit;
    border-color: $reddish;
    color: $light-orange;
  }

  input:focus {
    border-color: $reddish;
    background-color: $pale-yellow;
    box-shadow: 2px 2px 5px $reddish;
  }
}

.nevermind {
  text-align: center;
  padding: 15px;

  input[type="submit"] {
    background-color: $pale-yellow;
    color: $tree-black;
    border-color: $tree-black;
    box-shadow: 2px 2px 5px $tree-black;
  }

  input[type="submit"]:hover {
    border-color: $reddish;
    color: $reddish;
  }
}
