.choices {
  text-align: center;
}

.need-movie {
  font-size: 30px;
  color: $tree-black;
  font-weight: bold;
  background-color: $pale-yellow;
  float: left;
  width: 50%;
  height: 100vh;
  margin: 0;
  padding-top: 16%;
  font-family: 'Mina', sans-serif;

  img {
    -webkit-filter: drop-shadow(5px 5px 5px #444444);
    filter: drop-shadow(5px 5px 5px #444444);
  }
}

.need-movie:hover {
  .substance-wrapper {
    transform: scale(1.1);
    color: $orange-red;
  }
}

.need-pizza {
  font-size: 35px;
  color: $tree-black;
  float: right;
  width: 50%;
  background-color: $orange-red;
  height: 100vh;
  margin: 0;
  padding-top: 14%;
  padding-bottom: 2%;
  font-family: 'Chewy', cursive;

  img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

.need-pizza:hover {
  .substance-wrapper {
    transform: scale(1.1);
    color: $pale-yellow;
  }
}
