$pale-yellow: #EBCF90;
$light-orange: #E27E30;
$orange-red: #AE4725;
$reddish: #9A241E;
$tree-black: #192122;
@import url('https://fonts.googleapis.com/css?family=Chewy|Mina');

.choices {
  text-align: center;
}

.need-movie {
  font-size: 35px;
  color: $tree-black;
  font-weight: bold;
  background-color: $pale-yellow;
  float: left;
  width: 49.8%;
  height: 80vh;
  margin: 0;
  padding-top: 16%;
  font-family: 'Mina', sans-serif;
  border-right: 2px solid $reddish;
}

a:hover .need-movie {
  background-color: #F1DDAF;
  color: $orange-red
}

.need-pizza {
  font-size: 40px;
  color: $tree-black;
  float: right;
  width: 49.8%;
  background-color: $orange-red;
  height: 80vh;
  margin: 0;
  padding-top: 14%;
  padding-bottom: 2%;
  font-family: 'Chewy', cursive;
  border-left: 2px solid $reddish;
}

a:hover .need-pizza {
  background-color: #BB3F22;
  color: $pale-yellow;
}

.user-perks {
  text-align: right;
  padding: 5px;
  float: right;
}

.account-commands {
  padding: 5px;
  float:left;
}
