$pale-yellow: #EBCF90;
$light-orange: #E27E30;
$orange-red: #AE4725;
$reddish: #9A241E;
$tree-black: #192122;
@import url('https://fonts.googleapis.com/css?family=Chewy|Mina');

.choices {
  text-align: center;

  img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

.need-movie {
  font-size: 35px;
  color: $tree-black;
  font-weight: bold;
  background-color: $pale-yellow;
  float: left;
  width: 50%;
  height: 80vh;
  margin: 0;
  padding-top: 16%;
  font-family: 'Mina', sans-serif;
}

.need-movie:hover {
  .substance-wrapper {
    transform: scale(1.1);
    color: $orange-red;
  }
}

.need-pizza {
  font-size: 40px;
  color: $tree-black;
  float: right;
  width: 50%;
  background-color: $orange-red;
  height: 80vh;
  margin: 0;
  padding-top: 14%;
  padding-bottom: 2%;
  font-family: 'Chewy', cursive;
}

.need-pizza:hover {
  .substance-wrapper {
    transform: scale(1.1);
    color: $pale-yellow;
  }
}

.user-perks {
  text-align: right;
  padding: 5px;
  float: right;
}

.account-commands {
  padding: 5px;
  float:left;
}
