$light-orange: #F9A402
/* body {
  background-color: #32324e
} */

/* .get-started {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000022;
  height: 75px;
  font-size: 30px;
  text-align: center;
  overflow: break-word;
} */

/* .choice-panal {
   border-left: 5px solid #32324e;
  border-bottom: 5px solid #32324e;
  border-right: 5px solid #32324e;
   background: white;
  margin: 50px;
  margin-top: 0;
  height: 150%;
 } */

.choices {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;

}

.need-movie {
  background-color: $light-orange;
  float: left;
  height: 100vh;


}

a:hover .need-movie {
    background-color: #546dff;
}

a:hover .need-pizza {
    background-color: #546dff;
}

.need-pizza {
  float: right;
  background-color: red;
  height: 100vh;
}

/* .choice-buttons {
  text-align: center;
  padding: 10%;
} */

.user-perks {
  text-align: right;
  padding: 5px;
  float: right;
}

.account-commands {
  padding: 5px;
  float:left;
}
